.footer {
  font-family: arial;
  background-color: #efefef;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-container {
  border-bottom: 1px solid #dadce0;
  color: rgb(97, 97, 97);
}

.up {
  height: 5vh;
  padding: 1em;
}

.down {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}
